In [ ]:
#NOTES
#input() function will take inputs as strings
#Assignment Operator has the associativity from right to left
#print(x,y) will print multiple values but print("message",x,y) will not print multiple values, 
#-correct way with "message" is print("message",x) and print("message",y)
#in the .format() method of printing the value of the varible, 
#-in order to print the floating value answer upto desired decimal places, 
#-we need to write f:.2f in the corresponding {} section.
#in print(object(s),sep=' ',end='\n',flush,file)
#-flush is meant as buffering and unbuffering,when a program runs,it keeps the values of the variables 
#-and saves it in a Buffer Memory created and when the application is closed it flushes the value which is stored in the Buffer Memory,
#-it's value by default is false
#-file is meant as an operator which displays the output on the terminal screeen  
#variable and identifier ae not same, variable is an example(subset) of an identifier
#syntax for an identifier in Python
#-1 -> alphabet,digit and _
#-2 -> digit can not be at the first place
#-3 -> length = no limit (in C it's 32)(in JAVA also it's no limit)
#-4 -> no keywords can we used as the name of the identifiers
#-5 -> consecutive underscores are allowed in the starting in the indentifier name in the python
#-6 -> abc = public variables
#-     _abc = protected variables
#-     __abc = private variables
#-     __abc__ = magic variables
#-it is used in Inheritance concept of OOPS in "Classsified" Python Programs
#All the keywords in Python are defined in lower case except True,False and Null
#Sequence Datatype - list,tuple,range
#Mapping Datatype - dict
#Set Datatype - set,frozenset
#None Datatye - None Type
#In Python we can give values in any number system but it will only print in integer form
#in Python float datatype can be represented only in decimal number system
#unlike other languages which don't have any stuff for complex numbers, in Python we have it in terms of j, a+bj
#in C language we put comment as /*...............*/
#comment is an non executable statement which is not recognized by the interpreter during runtime
#in Pyhton there is no multi line comment, although, if a string is written without being assigned into a varibale, 
#-just written there lonely, interpreter will ignore it and will we known as Pseudo Comment
#Doc String is a String to mark and define any Block, made by '''....................'''.
#-It is an Executable Statement. It is executed with the help of __doc__
#- e.g. def funct():
#-        '''adding two numbers'''
#-        a,b=20,30
#-        s=a+b
#-        print(s)
#[] is called subscript in the declaration of an array,it's number will determine the dimension of the array      
#in an array or a string, in Python there are two types of indexing, one is positive and other is negative, postive is as 0 to n-1
#- and negative is as -1 to -n
#Type casting is explicit,Type Conversion is implicit
#relational operator can compare only one condition and logical can compare more than one conditions
#arithmatic operator and assignment operator add up to form compound assignment operator.Associativity from left to right.
#logical operators in Python = 'and','or','not'
#5 Bitwise Operators in total in Python.
#always write binary equivalent of a nmuber upto 8 bits. e.g. 01010101
#identity operator are of two types = is , is not ; (to check adress of the variables)
#to check values we use 'equals'
#pre-defined datatypes are immutable in Python
#ASCII Values -128 to 0 for negative signed; 0 to 127 for positive and 0 to 255 for unsigned 
#char(97)=a (converts into corresponding ASCII char of that ASCII value ;
#-ord(a)=97 (converts into corresponding ASCII value of that ASCII character)
#if precedence is same, we use associativity
#associativity from right to left is of operator = assignment operator
#exponential operator (**) has the second highest precedence in Python
#list: [] inclosed in these braces; insertin -> indexing and slicing is possible; duplicate values are allowed;
#-mutable in nature(Growable); heterogenous in nature(e.g. a=[2,2.4,"Hello"]

In [3]:
#new way of initialization the variables
a=b=c=10
print("Value of a is : ",a)
print("Value of b is : ",b)
print("Value of c is : ",c)

Value of a is :  10
Value of b is :  10
Value of c is :  10

In [6]:
#another new way of initializing the variables
a,b,c=12,23,34
print("Value of a is : ",a)
print("Value of b is : ",b)
print("Value of c is : ",c)

Value of a is :  12
Value of b is :  23
Value of c is :  34

In [3]:
#swappimg of two numbers using the third variable
x=int(input("Enter x : "))
y=int(input("Enter y : "))
print("Value of x is : ",x)
print("Value of y is : ",y)
c=x
x=y
y=c
print("Value of x is : ",x)
print("Value of y is : ",y)

Enter x :  12
Enter y :  23

Value of x is :  12
Value of y is :  23
Value of x is :  23
Value of y is :  12

In [2]:
#swapping of two numbers without using the third variable
x=int(input("Enter x : "))
y=int(input("Enter y : "))
print("Value of x is : ",x)
print("Value of y is : ",y)
x=x+y
y=x-y
x=x-y
print("Value of x is : ",x)
print("Value of y is : ",y)

Enter x :  12
Enter y :  23

Value of x is :  12
Value of y is :  23
Value of x is :  23
Value of y is :  12

In [7]:
#swapping two numbers with a trick which works only in python
#reason (why this method only works in Python) : because in Python we can assign multiple values to a variable
a,b=12,23
a,b=b,a
print("Value of x is : ",a)
print("Value of y is : ",b)

Value of x is :  23
Value of y is :  12

In [5]:
#sum of two numbers
a=int(input("Enter a : "))
b=int(input("Enter b : "))
sum=a+b
print("Sum of a and b is : ",sum)

Enter a :  12
Enter b :  23

Sum of a and b is :  35

In [8]:
print("HELLO")

HELLO

In [10]:
x,y,z=12,23,34
print(x,y,z)

12 23 34

In [14]:
#WAPP to covert a Tempreture from Fahrenheit to Celcius
#c=(f-32)*(5/9)
f=float(input("Enter the tempreture in fahrenheit : "))
c=(f-32)*(5/9)
print("Tempreture is Calcius is : ",c)

Enter the tempreture in fahrenheit :  98.3

Tempreture is Calcius is :  36.833333333333336

In [19]:
#use of formatted printing
#WAPP to covert a Tempreture from Fahrenheit to Celcius
#c=(f-32)*(5/9)
f=float(input("Enter the tempreture in fahrenheit : "))
c=(f-32)*(5/9)
print(f"Tempreture converted from {f} Fahrenheit to Calcius is {c}")

Enter the tempreture in fahrenheit :  98

Tempreture converted from 98.0 Fahrenheit to Calcius is 36.66666666666667

In [21]:
# WAPP to covert a Tempreture from Fahrenheit to Celcius
# for only 2 values after decimal, we will write ((Variable Name:.2F))
#c=(f-32)*(5/9)
f=float(input("Enter the tempreture in fahrenheit : "))
c=(f-32)*(5/9)
print(f"Tempreture converted from {f} Fahrenheit to Calcius is {c:.2F}")

Enter the tempreture in fahrenheit :  98

Tempreture converted from 98.0 Fahrenheit to Calcius is 36.67

In [23]:
#WAPP to find Area of Circle
r=float(input("Enter the Radius of the circle : "))
area=3.14*r*r
print("Area of Circle is : ",area)

Enter the Radius of the circle :  12

Area of Circle is :  452.15999999999997

In [28]:
#WAPP to find Area of Circle
#only 2 values after decimal
r=float(input("Enter the Radius of the circle : "))
area=3.14*r*r
print(f"Area of Circle is : {area:.2F}")

Enter the Radius of the circle :  12

Area of Circle is : 452.16

In [29]:
#WAPP to find Area of Circle
#using import math method
import math
r=float(input("Enter the Radius of the circle : "))
area=math.pi*r*r
print("Area of Circle is : ",area)

Enter the Radius of the circle :  12

Area of Circle is :  452.3893421169302

In [31]:
#WAPP to find the area of a Triangle
import math
a=int(input("Enter the side a : "))
b=int(input("Enter the side a : "))
c=int(input("Enter the side a : "))
s=(a+b+c)/2
area=math.sqrt(s*(s-a)*(s-b)*(s-c))
print(f"Area of the Traingle of sides {a},{b} and {c} is {area}")

Enter the side a :  12
Enter the side a :  23
Enter the side a :  34

Area of the Traingle of sides 12,23 and 34 is 66.80896272207794

In [32]:
#WAPP to find the area of a Triangle
#area upto 2 decimal places
import math
a=int(input("Enter the side a : "))
b=int(input("Enter the side a : "))
c=int(input("Enter the side a : "))
s=(a+b+c)/2
area=math.sqrt(s*(s-a)*(s-b)*(s-c))
print(f"Area of the Traingle of sides {a},{b} and {c} is {area:.2F}")

Enter the side a :  12
Enter the side a :  23
Enter the side a :  34

Area of the Traingle of sides 12,23 and 34 is 66.81

In [33]:
#WAPP to find the area of a Triangle
#area upto 2 decimal places
#without using sqrt function
import math
a=int(input("Enter the side a : "))
b=int(input("Enter the side a : "))
c=int(input("Enter the side a : "))
s=(a+b+c)/2
area=math.pow((s*(s-a)*(s-b)*(s-c)),(1/2))
print(f"Area of the Traingle of sides {a},{b} and {c} is {area:.2F}")

Enter the side a :  12
Enter the side a :  23
Enter the side a :  34

Area of the Traingle of sides 12,23 and 34 is 66.81

In [34]:
#WAPP to find the area of a Triangle
#area upto 2 decimal places
#another way to apply power function
import math
a=int(input("Enter the side a : "))
b=int(input("Enter the side a : "))
c=int(input("Enter the side a : "))
s=(a+b+c)/2
area=((s*(s-a)*(s-b)*(s-c))**(1/2))
print(f"Area of the Traingle of sides {a},{b} and {c} is {area:.2F}")

Enter the side a :  12
Enter the side a :  23
Enter the side a :  34

Area of the Traingle of sides 12,23 and 34 is 66.81

In [ ]:
#WAPP to find the area of a Triangle
#area upto 2 decimal places
#without using sqrt function

In [38]:
#WAPP to calculate Compound Interest
import math
p=int(input("Enter the Principle Amount"))
t=int(input("Enter the time"))
r=float(input("Enter the rate"))    
A=p*(math.pow((1+r/100),t))
CI=A-p
print(f"Compound interest of {p} Principal Amount {r} rate and for time {t} is : {CI}")

Enter the Principle Amount 1000
Enter the time 4
Enter the rate 2.5

Compound interest of 1000 Principal Amount 2.5 rate and for time 4 is : 103.81289062499945

In [41]:
#WAPP to calculate Compound Interest
#upto 2 decimal places
import math
p=float(input("Enter the Principle Amount"))
t=float(input("Enter the time"))
r=float(input("Enter the rate"))    
A=p*(math.pow((1+r/100),t))
CI=A-p
print(f"Compound interest of {p} Principal Amount {r} rate and for time {t} is : {CI:.2F}")

Enter the Principle Amount 10000
Enter the time 10
Enter the rate 10

Compound interest of 10000.0 Principal Amount 10.0 rate and for time 10.0 is : 15937.42

In [43]:
#WAPP to calculate Compound Interest
#upto 2 decimal places
#using another method of applying power
import math
p=float(input("Enter the Principle Amount"))
t=float(input("Enter the time"))
r=float(input("Enter the rate"))    
A=p*((1+r/100)**t)
CI=A-p
print(f"Compound interest of {p} Principal Amount {r} rate and for time {t} is : {CI:.2F}")

Enter the Principle Amount 10000
Enter the time 10
Enter the rate 10

Compound interest of 10000.0 Principal Amount 10.0 rate and for time 10.0 is : 15937.42

In [51]:
#WAPP to calculate Compound Interest
#upto 2 decimal places
#using another method of applying power
#new way to print the answer
import math
p=float(input("Enter the Principle Amount"))
t=float(input("Enter the time"))
r=float(input("Enter the rate"))    
A=p*((1+r/100)**t)
CI=A-p
print("Principle : {0}, Rate : {1}, Time : {2}, The CI is : {3}".format(p,r,t,CI))
#we can put index inside {} to avoid the confusion

Enter the Principle Amount 10000
Enter the time 10
Enter the rate 10

Principle : 10000.0, Rate : 10.0, Time : 10.0, The CI is : 15937.424601000024

In [52]:
#WAPP to calculate Compound Interest
#upto 2 decimal places
#using another method of applying power
#new way to print the answer
import math
p=float(input("Enter the Principle Amount"))
t=float(input("Enter the time"))
r=float(input("Enter the rate"))    
A=p*((1+r/100)**t)
CI=A-p
print("Principle : {2}, Rate : {1}, Time : {0}, The CI is : {3}".format(t,r,p,CI))
#we can put index inside {} to avoid the confusion
#and also if we swap the inputs in .format() section, 
#-then we can use index in the {} section to print the corresponding value we desire to print

Enter the Principle Amount 10000
Enter the time 10
Enter the rate 10

Principle : 10000.0, Rate : 10.0, Time : 10.0, The CI is : 15937.424601000024

In [56]:
#print(object(s),sep=' ',end='\n',flush,file)
#-these are the default attributes of the print statement
a=10
b=20
c=30
print(a,b,c)

10 20 30

In [57]:
#print(object(s),sep=' ',end='\n',flush,file)
#-these are the default attributes of the print statement
a=10
b=20
c=30
print(a)
print(b)
print(c)

10
20
30

In [55]:
#print(object(s),sep=' ',end='\n',flush,file)
#-these are the default attributes of the print statement
#-if we change sep=' ' with sep='#'  
a=10
b=20
c=30
print(a,b,c,sep='#')

10#20#30

In [58]:
#print(object(s),sep=' ',end='\n',flush,file)
#-these are the default attributes of the print statement
#-if we change end='\n' with end=' '  
a=10
b=20
c=30
print(a,end=' ')
print(b,end=' ')
print(c,end=' ')

10 20 30

In [59]:
#print(object(s),sep=' ',end='\n',flush,file)
#-these are the default attributes of the print statement
#-if we change sep=' ' with sep='\n'  
a=10
b=20
c=30
print(a,b,c,sep='\n')

10
20
30

In [60]:
#print(object(s),sep=' ',end='\n',flush,file)
#-these are the default attributes of the print statement
#-if we change sep=' ' with sep=''  
a=10
b=20
c=30
print(a,b,c,sep='')

102030

In [61]:
#to print keyword list of the Python
#earlier we had only 33 keywords in python but from the year 2021 we have 35 keywords, added keywords were : 'math' and 'case' 
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [1]:
#giving the number inside the variable in Binary 
a=0b111
print(a)

7

In [2]:
#giving the number inside the variable in Octal
a=0o123
print(a)

83

In [3]:
#giving the number inside the variable in hexadecimal
a=0x678AEB
print(a)

6785771

In [8]:
#to convert integer stored in the variable into binary
a=15
a=bin(a)
print(a)

0b1111

In [9]:
#to convert integer stored in the variable into octal
a=15
a=oct(a)
print(a)

0o17

In [10]:
#to convert integer stored in the variable into hexadecimal
a=15
a=hex(a)
print(a)

0xf

In [11]:
#to convert binary number stored in the variable into octal
a=0b1001001101111
a=oct(a)
print(a)

0o11157

In [12]:
#to convert hexadecimal number stored in the variable into octal
a=0xAEFB12345
a=hex(a)
print(a)

0xaefb12345

In [13]:
#to convert octal number stored in the variable into binary
a=0o17654
a=bin(a)
print(a)

0b1111110101100

In [14]:
#to convert hexadecimal number stored in the variable into binary
a=0xAEF76
a=bin(a)
print(a)

0b10101110111101110110

In [15]:
#to convert octal number stored in the variable into hexadecimal
a=0o6734
a=hex(a)
print(a)

0xddc

In [18]:
#to convert binary number stored in the variable into decimal
a=0b11011
a=int(a)
print(a)

27

In [24]:
#giving the exponential value
#e will give value in float
x=0.456342e3
print(x)

456.342

In [25]:
#giving the exponential value
#e will give value in float
x=42e3
print(x)

42000.0

In [26]:
#giving complex values
x=3+4j
print(x)
print(type(x))

(3+4j)
<class 'complex'>

In [27]:
#giving complex values
x=3j+4
print(x)
print(type(x))

(4+3j)
<class 'complex'>

In [28]:
#giving complex values
x=-4j
print(x)
print(type(x))

(-0-4j)
<class 'complex'>

In [29]:
#giving complex values
x=0+4j
print(x)
print(type(x))

4j
<class 'complex'>

In [31]:
#giving complex values
x=3.9+4j
print(x)
print(type(x))

(3.9+4j)
<class 'complex'>

In [32]:
#giving complex values
x=3+4.8j
print(x)
print(type(x))

(3+4.8j)
<class 'complex'>

In [33]:
#giving complex values
x=3.6+4.8j
print(x)
print(type(x))

(3.6+4.8j)
<class 'complex'>

In [37]:
#giving complex values
x=0b1101+4j
print(x)
print(type(x))

(13+4j)
<class 'complex'>

In [38]:
#giving complex values
x=0o45623+4j
print(x)
print(type(x))

(19347+4j)
<class 'complex'>

In [41]:
#giving complex values
x=0xAE+4j
print(x)
print(type(x))
#we can only give 0b,0o,0x values only in Real Part, not in Imaginary Part

(174+4j)
<class 'complex'>

In [48]:
#fetching value of either imaginary or real part of a complex nmuber
x=3+4.5j
print(x.real)
print(x.imag)

3.0
4.5

In [50]:
#giving boolean value in a variable
a=True
print(a)
print(type(a))

True
<class 'bool'>

In [51]:
#giving boolean value in a variable
a=bool(15)
print(a)
print(type(a))

True
<class 'bool'>

In [52]:
#giving boolean value in a variable
a=bool(-133)
print(a)
print(type(a))

True
<class 'bool'>

In [53]:
#giving boolean value in a variable
a=bool(1.8)
print(a)
print(type(a))

True
<class 'bool'>

In [54]:
#giving boolean value in a variable
a=bool(0.6)
print(a)
print(type(a))

True
<class 'bool'>

In [55]:
#giving boolean value in a variable
a=bool()
print(a)
print(type(a))

False
<class 'bool'>

In [56]:
#giving boolean value in a variable
a=bool(0.0)
print(a)
print(type(a))

False
<class 'bool'>

In [57]:
#giving boolean value in a variable
a=bool(-0)
print(a)
print(type(a))

False
<class 'bool'>

In [58]:
#giving boolean value in a variable
a=bool(-0.0)
print(a)
print(type(a))

False
<class 'bool'>

In [64]:
#giving string or character values in variable
s=('Learnng Python is very very easy')
print(s)

Learnng Python is very very easy

In [66]:
#giving string or character values in variable
s=("Learnng Python is very very easy")
print(s)
#for single line printing of string, we use ' or "

Learnng Python is very very easy

In [65]:
#giving string or character values in variable
s=('''Learnng 
Python
is 
very very 
easy''')
print(s)
#for multiline printing we will use ''' or """

Learnng
Python
is
very very
easy

In [10]:
#demonstration of Doc String
def f():
    'this function is made to add two numbers' #this string can be written inside any ',",'''or"""
    a,b=20,30
    s=a+b
    print(s)
f()
f.__doc__
#if in case Doc String is not printed, write f.__doc__ inside print statement

50

'this function is made to add two numbers'

In [13]:
#converting a value in string
a=str(20)
print(a)
print(type(a))

20
<class 'str'>

In [14]:
#converting a value in string
a=str(20.5)
print(a)
print(type(a))

20.5
<class 'str'>

In [15]:
#converting a value in string
a=str(True)
print(a)
print(type(a))

True
<class 'str'>

In [16]:
#converting a value in string
a=str(3+3.4j)
print(a)
print(type(a))

(3+3.4j)
<class 'str'>

In [20]:
#fetching the element of the string
s="KRISHNA SINGH"
a=s[0]
print(a)
a=s[4]
print(a)
a=s[8]
print(a)
a=s[-1]
print(a)
a=s[7]
print(a)
a=s[-5]
print(a)

K
H
S
H

S

In [42]:
#fetching substring
#[start:end:step]
#default value of start is 0, of end is length and of step is 1
#printing upto end is done as end-1(excluding end)
s="KRISHNA SINGH"
print(s[0:7:1])

KRISHNA

In [24]:
#fetching substring
s="KRISHNA SINGH"
print(s[0:7:2])

KIHA

In [43]:
#fetching substring
s="KRISHNA SINGH"
print(s[-5::1])

SINGH

In [44]:
#fetching substring
s="KRISHNA SINGH"
print(s[-1:-6:-1])

HGNIS

In [39]:
#fetching substring
s="KRISHNA SINGH"
print(s[-1::-1])

HGNIS ANHSIRK

In [40]:
#fetching substring
s="KRISHNA SINGH"
print(s[-1::1])

H

In [41]:
#fetching substring
s="KRISHNA SINGH"
print(s[12::-1])

HGNIS ANHSIRK

In [45]:
#fetching substring
s="KRISHNA SINGH"
print(s[1::-1])

RK

In [46]:
#fetching substring
s="KRISHNA SINGH"
print(s[1::1])

RISHNA SINGH

In [47]:
#fetching substring
s="KRISHNA SINGH"
print(s[-12::-1])

RK

In [49]:
#fetching substring
s="KRISHNA SINGH"
print(s[::-1])

HGNIS ANHSIRK

In [50]:
#fetching substring
s="KRISHNA SINGH"
print(s[0::-1])

K

In [57]:
#pallindrome Number
a=input("Enter the number to checked : ")
rev=a[-1::-1]
if int(a)==int(rev):
    print("Pallindrome Number")
else:
    print("Not a Pallindrome Number")

Enter the number to checked :  123

Not a Pallindrome Number

In [60]:
a="Hello "
b="World!"
c=a+b
print(c)
#for concatination, values should be string

Hello World!

In [18]:
a="Hello "
b=3
c=a*b
print(c)
#for concatination, values should be string, but when one is integer(positive, excluding 0), 
#-it will print the string part that integer times

Hello Hello Hello

In [3]:
#initialization me integer hi lega
a=2
b=2
c=a+b
print(c)

4

In [5]:
#input() takes inputted values as strings
a=input("enter a :")
b=input("enter b :")
c=a+b
print(c)

enter a : 12
enter b : 12

1212

In [7]:
a=True
a=int(a)
print(a)

1

In [9]:
a=10
a=float(a)
print(a)

10.0

In [10]:
a=10.3
a=int(a)
print(a)

10

In [2]:
a="10.5"
a=float(a)
print(a)
#int(a) will not work, float(a) will work

10.5

In [15]:
a=""
a=bool(a)
print(a)

False

In [16]:
a=" "
a=bool(a)
print(a)

True

In [6]:
#Bitwise Operators
a=5
b=3
c=5&3
print(c)
c=bin(c)
print(c)

1
0b1

In [7]:
#Bitwise Operators
a=5
b=3
c=5|3
print(c)
c=bin(c)
print(c)

7
0b111

In [14]:
print(~5)
print(bin(~5))
#2'S compliment will happen to store negative number
#2's compliment of 12 ; method for positive numbers
#00001100
#-------- whole compliment
#11110011 sign (-) ; compliment, locking the sign bit
#10001100
#      +1
#-------- 2's compliment
#10001101
#===============================================
#2's Cpmpliment of -7 ; Method for negative numbers
#10000111
#-------- compliment(locking the sign)
#11111000
#      +1 sign(1)
#--------
#11111001
#-------- whole compliment
#00000110

-6
-0b110

In [17]:
#Bitwise Operators
a=12
b=-7
c=a&b
print(c)
c=a|b
print(c)
a=~a
b=~b
print(a)
print(b)
c=a&b
print(c)
c=a|b
print(c)
a=bin(a)
b=bin(b)
print(a)
print(b)

8
-3
-13
6
2
-9
-0b1101
0b110

In [18]:
#Bitwise Operators
a=5
b=3
c=5^3
print(c)
c=bin(c)
print(c)

6
0b110

In [21]:
#Bitwise Operators
#left shift ; a<<b; right side represent number of shifts to be done and left side represent the number to be shifted
a=3
b=1
c=a<<b
print(c)
c=bin(c)
print(c)
#for 3<<1
#00000011
#to be shifted 1 
#00000110

6
0b110

In [22]:
#Bitwise Operators
#left shift ; a<<b; right side represent number of shifts to be done and left side represent the number to be shifted
a=3
b=2
c=a<<b
print(c)
c=bin(c)
print(c)
#for 3<<2
#00000011
#to be shifted 2 
#00001100

12
0b1100

In [24]:
#Bitwise Operators
#right shift ; a<<b; right side represent number of shifts to be done and left side represent the number to be shifted
a=3
b=1
c=a>>b
print(c)
c=bin(c)
print(c)
#for 3>>1
#00000011
#to be shifted 1 
#00000001

1
0b1

In [38]:
#WAPP to multiply a given number by 4 using bitwse operator
#for multiply we use left shift and we shift the given number by power of base two of the given number
a=int(input("Enter a number to be multiplied"))
m=a<<2
print(m)

Enter a number to be multiplied 5

20

In [37]:
#WAPP to multiply a given number by 5 using bitwse operator
a=int(input("Enter a number to be multiplied"))
m=a<<3
print(m)

Enter a number to be multiplied 2

0b10000b1

In [39]:
#identity operator 
a=10
b=10
c=a is b
print(c)

True

In [40]:
#identity operator 
a=10
b=12
c=a is b
print(c)

False

In [41]:
#identity operator 
a=10
a=12
c=a is a
print(c)

True

In [43]:
#identity operator 
a=10
a=10
c=a is a
print(c)

True

In [45]:
#List
#use of 'in' and 'not in'
l=[2,4,6]
x=[2,4,6]
print(l is x)
print(12 in x)
print(12 not in x)

False
False
True

In [47]:
#use of 'in' and 'not in'
s="Hello"
print('H' in s)
print('k' not in s)

True
True

In [55]:
#use of 'in' and 'not in'
s="Hello I am the President of United States of America, Donald.J.Trump.We are gpoing to drop an atomic bomb over china"
print('Hello I am the President' in s)
print('Japan' not in s)

True
True

In [54]:
#use of complex()
print(complex(10))

(10+0j)

In [51]:
#use of complex()
print(complex(10.8))

(10.8+0j)

In [52]:
#use of complex()
print(complex(True))

(1+0j)

In [53]:
#use of complex()
print(complex(False))

0j

In [56]:
#use of complex()
#numeric value in string can be used 
print(complex('10'))

(10+0j)

In [57]:
#use of complex()
#numeric value in string can be used 
print(complex('10.8'))

(10.8+0j)

In [59]:
#use of complex() 
print(complex(10,3))

(10+3j)

In [60]:
#use of complex() 
print(complex(10.3,3.2))

(10.3+3.2j)

In [61]:
#use of complex() 
print(complex(True,False))

(1+0j)

In [69]:
#use of complex() 
print(complex('10','3'))

TypeError: complex() can't take second arg if first is a string

In [64]:
#use of complex() 
print(complex('10',3))

TypeError: complex() can't take second arg if first is a string

In [65]:
#use of complex() 
print(complex(10,'3'))

TypeError: complex() second arg can't be a string

In [ ]:
#we cannot take both values together in string

In [ ]:
#Lists; it is a sequencial data type

In [1]:
a=[2,2.3,"Hello"]
print(a[-1])

Hello

In [2]:
a=[2,2.3,"Hello"]
print(a[:])

[2, 2.3, 'Hello']

In [9]:
a=[2,2.3,"Hello"]
print(a[::-1])

['Hello', 2.3, 2]

In [7]:
a=[2,2.3,"Hello"]
print(a[1:3])

[2.3, 'Hello']

In [14]:
#use of len() and append() and remove()
a=[2,2.3,"Hello"]
a.append('Hi')
print(a)
print(len(a))
a.remove('Hello')
print(a)
print(a*2)

[2, 2.3, 'Hello', 'Hi']
4
[2, 2.3, 'Hi']
[2, 2.3, 'Hi', 2, 2.3, 'Hi']

In [1]:
#tuple
#syntax = tuple_name(value1,vlaue2............value n) 
t=(5,2.5,'Hi')
print(t[-2])

2.5

In [6]:
#tuple
#it is immutable
t=(5,2.5,'Hi')
t[0]=2
print(t[-2])

TypeError: 'tuple' object does not support item assignment

In [11]:
#tuple to list
t=(5,2.5,'Hi')
l=list(t) #converting tuple into list
print(l)
print(l[0])
l[0]=2
print(l[0])
t=tuple(l) #converting list into tuple
print(t)

[5, 2.5, 'Hi']
5
2
(2, 2.5, 'Hi')

In [ ]:
#when we use append() in tuple it will show attribute error

In [13]:
#empty tuple
t=()
print(t)
#tuple allows indexing and slicing
#heterogenous datatype values are allowed 
#duplicate values are allowed

()

In [ ]:
#range(start,end,step)
#it is immutable in nature
#range(5) means 0 to 4

In [20]:
#set_name={value1,value2...........value n}
#different datatypes can be allowed
#no repeated value is allowed
#insertion order does not preserve = which means no slicing and indexing is allowed
#mutable, but we cannot chnage the value inside it, we can increase or decrease the size of the set
#growable
#set is unordered datatype
s1={2,3.5,"Hi"}
print(type(s1))
s2={1,2,3,4,5,5,6,7,8,8,9,9,9}
print(s2)
s2.add(60)
print(s2)
s2.remove(4)
print(s2)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 60}
{1, 2, 3, 5, 6, 7, 8, 9, 60}

In [28]:
#empty set
s={}
print(type(s))
#in order to print empty set we have to use set() function
s=set(s)
print(type(s))

<class 'dict'>
<class 'set'>

In [29]:
#frozen set will disable everything which set was allowed to do
#we cannot use add() and remove() in frozen set 
s={1,2,3,4,5,6,7,8,9}
fs=frozenset(s)
print(type(s))
print(type(fs))

<class 'set'>
<class 'frozenset'>

In [31]:
#dictionary is a mapped datatype 
#d={key1:value1,key2:value2...................key(n):value(n)}
d={'city1':'Madrid','city2':'Wakanda','city3':'Gottham','city4':'Dholakpur','city5':'Furfuri Nagar','city6':'Mouse Island'}
print(d['city3'])
print(d['city4'])
#keys duplicate nahi ho sakti hai par values duplicate ho sakti hai
#agar keys same hogi toh last wali print hogi

Gottham
Dholakpur

In [33]:
d={'league1':'La Liga','league2':'Premier League','league3':'Bundesliga','league4':'IPL','league4':'GPL'}
print(d)
print(d['league3'])
print(d['league4'])

{'league1': 'La Liga', 'league2': 'Premier League', 'league3': 'Bundesliga', 'league4': 'GPL'}
Bundesliga
GPL

In [35]:
d={'league1':'La Liga','league2':'Premier League','league3':'Bundesliga','league4':'IPL','league5':'IPL'}
print(d)
print(d['league3'])
print(d['league4'])

{'league1': 'La Liga', 'league2': 'Premier League', 'league3': 'Bundesliga', 'league4': 'IPL', 'league5': 'IPL'}
Bundesliga
IPL

In [ ]:
#types to print string or types and methods to print in python

In [42]:
#String Functions
#lower()
#upper()
#strip()
#split()
#join()
#replace()
#find()
#startswith()
#endswith()

In [43]:
s="India is my country"
s=s.lower()
print(s)

india is my country

In [44]:
s="India is my country"
s=s.upper()
print(s)

INDIA IS MY COUNTRY

In [45]:
s=" India is my country "
s=s.strip()
print(s)

India is my country

In [46]:
s="India is my country"
s=s.split()
print(s)
#split hoke list me store hoga

['India', 'is', 'my', 'country']

In [47]:
s="India"
s=s.split()
print(s)

['India']

In [50]:
s="India,is,my,country"
s=s.split()
print(s)

['India,is,my,country']

In [51]:
s="India,is,my,country"
s=s.split(',')
print(s)

['India', 'is', 'my', 'country']

In [55]:
l=["India","is","my","country"]
s=" ".join(l)
print(s)

India is my country

In [60]:
s="India is my country"
s="-".join(s)
print(s)

I-n-d-i-a- -i-s- -m-y- -c-o-u-n-t-r-y

In [63]:
s="India"
s="-".join(s)
print(s)

I-n-d-i-a
I:-:n:-:d:-:i:-:a

In [62]:
t=("India","is","my","country")
s=" ".join(l)
print(s)

India is my country

In [64]:
s="India"
s=":".join(s)
print(s)

I:n:d:i:a

In [65]:
s="India"
s=":".join(range(3))
print(s)
#join function sirf string par chalega

TypeError: sequence item 0: expected str instance, int found

In [68]:
s="In sooth i know not why i am so sad"
s=s.replace("sad","happy")
print(s)

In sooth i know not why i am so happy

In [74]:
s="In sooth i know not why i am so sad"
s=s.replace("In sooth i know not why i am so sad","*")
print(s)

*

In [75]:
s="In sooth i know not why i am so sad"
s=s.replace(" ","*")
print(s)

In*sooth*i*know*not*why*i*am*so*sad

In [76]:
s="In sooth i know not why i am so sad"
s=s.find("sooth")
print(s)

3

In [77]:
s="In sooth i know not why i am so sad"
s=s.find(" ")
print(s)
#repeat me first occurance wala dega

2

In [78]:
s="In sooth i know not why i am so sad"
s=s.find("Antonio")
print(s)

-1

In [79]:
s="In sooth i know not why i am so sad"
s=s.find("a")
print(s)

26

In [80]:
s="In sooth i know not why i am so sad"
s=s.startswith("sooth")
print(s)

False

In [82]:
s="In sooth i know not why i am so sad"
s=s.startswith("In")
print(s)

True

In [84]:
s="In sooth i know not why i am so sad"
s=s.endswith("sooth")
print(s)

False

In [86]:
s="In sooth i know not why i am so sad"
s=s.endswith("sad")
print(s)

True

In [58]:
#pallindrome Number
a=input("Enter the number to checked : ")
rev=a[-1::-1]
if int(a)==int(rev):
    print("Pallindrome Number")
else:
    print("Not a Pallindrome Number")

Enter the number to checked :  121

Pallindrome Number

In [2]:
#revrsed function
s="Python"
print("".join(reversed(s)))

nohtyP

In [89]:
s="In sooth i know not why i am so sad"
s=s.count("sooth")
print(s)

1

In [93]:
s="Old MacDonald had a farm E I E I O, and on that farm he had a dog E I E I O"
s=s.count("E")
print(s)

4

In [6]:
#find() function
#syntax :- (substring,start,end)
#if it will find the substring, 
#it returns the index at which we find that substring and if it doesn't find it, 
#it will return -1
#we cannot use minus indexing in the start and end section, to replace it we have rfind() and rindex() functions
s="Python is a noob language"
s.find('noob',0,18)

12

In [5]:
s="Python is a noob language"
s.find('noob',0,7)

-1

In [7]:
s="Python is a noob language"
s.find('noob',0,len(s))

12

In [8]:
s="Python is a noob language"
s.rfind('noob',0,18)

12

In [9]:
s="Python is a noob language"
s.rfind('noob',0,len(s))

12

In [10]:
s="Python is a noob language"
s.rfind('noob',0,7)

-1

In [11]:
s="Python is a noob language"
s.index('noob',0,18)

12

In [12]:
s="Python is a noob language"
s.index('noob',0,7)

ValueError: substring not found

In [13]:
s="Python is a noob language"
s.rindex('noob',0,18)

12

In [14]:
s="Python is a noob language"
s.rindex('noob',0,len(s))
#find() was also made, while we had index() because if returns -1 if the substring is not found unlike index() which gives error

12

In [19]:
s="python is a noob language"
s.rindex('noob',0,len(s))
s=s.swapcase() #sabka case alter kar dega
print(s)
s=s.capitalize() #it will capitalize only the 
print(s)
s=s.title() #it will capitalize every first letter of the word
print(s)

PYTHON IS A NOOB LANGUAGE
Python is a noob language
Python Is A Noob Language

In [20]:
#s.isalpha()
#s.idigit()
#s.isalnum() e.g. B1     
#s.isalpha()
#s.ispace()

In [13]:
#                       _________CONTROL STATEMENT________
#                      |                |                |
#              decision making      iterative       transfer/jump
#out of multiple conditions if we want single decision, we use elif
#if is used for the trueness of the given condition
#else is used for falseness of the give condition
#every block in control statement starts with a colon
#syntax of if :=
#if condition:
#             statement_1
#             statement_n
#*watch out for indentation

In [14]:
#WAPP to check if a given character is a vowel or not?
c=str(input("Enter a character :"))
if(c=='A' or c=='E'or c=='I' or c=='O' or c=='U' or c=='a' or c=='e'or c=='i' or c=='o' or c=='u'):
    print("Character is a Vowel")
else:
    print("Character is a Consonent")

Enter a character : Z

Character is a Consonent

In [15]:
#using sequential dtatype. e.g. Lists
a=str(input("Enter a character :"))
l=['a','e','i','o','u','A','E','I','O','U']
if(a in l):
    print("Vowel")
else:
    print("Consonent")

Enter a character : A

Vowel

In [16]:
#using sequential dtatype. e.g. Lists
a=str(input("Enter a character :"))
l=['a','e','i','o','u','A','E','I','O','U']
if(a in l):
    print("Vowel")
else:
    print("Consonent")

Enter a character : Z

Consonent

In [18]:
#using string
a=str(input("Enter a character :"))
if(a in l):
    print("Vowel")
else:
    print("Consonent")

Enter a character : A

Vowel

In [19]:
#using string
a=str(input("Enter a character :"))
if(a in l):
    print("Vowel")
else:
    print("Consonent")

Enter a character : Z

Consonent

In [ ]:
#WAPP to find number of Vowels in the string
a=str(input("Enter a character :"))
l=s.len()
for i in range 
if(a in l):
    c++

In [5]:
#WAPP to change a given nmuber into it's absolute number if it is negative
n=int(input("Enter a number"))
if(n<0):
    n=abs(n)
    print("+",n)
else:
    print("+",n,sep="")
#abs() is not given in Math Library

Enter a number 4

+4

In [4]:
#WAPP to change a given nmuber into it's absolute number if it is negative
n=int(input("Enter a number"))
if(n<0):
    n=abs(n)
    print("+",n,sep="")
else:
    print("+",n,sep="")

Enter a number -4

+4

In [8]:
#WAPP to change a given nmuber into it's absolute number if it is negative
#using {:+d} trick, this is used to print a number with sign
n=int(input("Enter a number"))
if(n<0):
    n=abs(n)
    print(f"{abs(n):+d}")
else:
    print(f"{abs(n):+d}")

Enter a number -4

+4

In [18]:
#WAPP to change a given nmuber into it's absolute number if it is negative
#using {:+d} trick, this is used to print a number with sign, for negative => {:-d}
#using absolute function to print
n=int(input("Enter a number"))
if(n<0):
    n=abs(n)
    print("{:+d}".format(abs(n)))
else:
    print("{:+d}".format(abs(n)))

Enter a number -4

+4

In [ ]:
#if(condition):
#|    statements
#|
#else:
#     statements

In [16]:
#WAPP to add two given times
t1=input()
t2=input()
l1=t1.split(':')
l2=t2.split(':')
l1[0]=int(l1[0])
h1=l1[0]
l1[1]=int(l1[1])
m1=l1[1]
l1[2]=int(l1[2])
s1=l1[2]
l2[0]=int(l2[0])
h2=l2[0]
l2[1]=int(l2[1])
m2=l2[1]
l2[2]=int(l2[2])
s2=l2[2]
s=s1+s2
m=m1+m2
h=h1+h2
if(s>=60):
    s=s-60
    m=m+1
if(m>=60):
    m=m-60
    h=h+1
if(h>=24):
    h=h-24
    print("Next Day",h,m,s,sep=":")
else:
    print(h,m,s,sep=":")

 12:34:54
 1:34:54

14:9:48

In [17]:
#WAPP to add two given times
t1=input()
t2=input()
l1=t1.split(':')
l2=t2.split(':')
l1[0]=int(l1[0])
h1=l1[0]
l1[1]=int(l1[1])
m1=l1[1]
l1[2]=int(l1[2])
s1=l1[2]
l2[0]=int(l2[0])
h2=l2[0]
l2[1]=int(l2[1])
m2=l2[1]
l2[2]=int(l2[2])
s2=l2[2]
s=s1+s2
m=m1+m2
h=h1+h2
if(s>=60):
    s=s-60
    m=m+1
if(m>=60):
    m=m-60
    h=h+1
if(h>=24):
    h=h-24
    print("Next Day",h,m,s,sep=":")
else:
    print(h,m,s,sep=":")

 23:45:54
 15:43:32

Next Day:15:29:26

In [18]:
#WAPP to enter a single digit in integer and print it's eqivalent word
l=['zero','one','two','three','four','five','six','seven','eight','nine']
n=input("enter a digit")
n=int(n)
print(l[n])

enter a digit 2

two

In [17]:
#converting each digit into it's equivalent word
l=['zero','one','two','three','four','five','six','seven','eight','nine']
n=input("enter a digit")
for i in range(len(n)):
    s=int(n[i])
    print(l[s],end=" ")

enter a digit 8758

eight seven five eight

In [ ]:
#converting each digit into it's equivalent word
#iske neeche isko bina loop ke karna hai
l=['zero','one','two','three','four','five','six','seven','eight','nine']
n=input("enter a digit")
for i in range(len(n)):
    s=int(n[i])
    print(l[s],end=" ")

In [ ]:
#finding the greatest number using nested if
a=int(input(a))
b=int(input(b))
c=int(input(c))

In [4]:
#donor
#ye wala question tameez me phirse karna hai
a=int(input("Enter the Age"))
w=int(input("Enter the wight"))
d=input()
e=input()
if(a>=18):
    if(w>=50):
        if(d=="no"):
            if(e!="O-"):
                print("yes")
else:
    print("no")

Enter the Age 16
Enter the wight 13
 no
 A+

no

In [3]:
a=int(input())
b=int(input())
c=int(input())
min=print("a is smallest") if(a<b and a<c) else print("b is smallest") if(b<a and b<c) else print("c is smallest") if(c<a and c<b) else print("Equal")

 23
 12
 34

b is smallest

In [6]:
#we have only while and do while loops in Python
#iterative statements are used to operate a block or statement number of times
#iterable means jispe operation iteration wale perform hote hain
#syntax of while => while (condition):
#                           statements
s='Python'
i=0
while(i<len(s)):
    print(s[i],end=" and ")
    i=i+1

P and y and t and h and o and n and

In [8]:
#WAPP to print all odd numbers from first 100 natural numbers
i=1
while(i<=100):
    if(i%2!=0):
        print(i,"is odd")
    i=i+1

1 is odd
3 is odd
5 is odd
7 is odd
9 is odd
11 is odd
13 is odd
15 is odd
17 is odd
19 is odd
21 is odd
23 is odd
25 is odd
27 is odd
29 is odd
31 is odd
33 is odd
35 is odd
37 is odd
39 is odd
41 is odd
43 is odd
45 is odd
47 is odd
49 is odd
51 is odd
53 is odd
55 is odd
57 is odd
59 is odd
61 is odd
63 is odd
65 is odd
67 is odd
69 is odd
71 is odd
73 is odd
75 is odd
77 is odd
79 is odd
81 is odd
83 is odd
85 is odd
87 is odd
89 is odd
91 is odd
93 is odd
95 is odd
97 is odd
99 is odd

In [12]:
#WAPP to print all odd numbers from first 100 natural numbers
i=1
while(i<=100):
    if(i%2==0):
        print(i,"is even")
    i=i+1

2 is even
4 is even
6 is even
8 is even
10 is even
12 is even
14 is even
16 is even
18 is even
20 is even
22 is even
24 is even
26 is even
28 is even
30 is even
32 is even
34 is even
36 is even
38 is even
40 is even
42 is even
44 is even
46 is even
48 is even
50 is even
52 is even
54 is even
56 is even
58 is even
60 is even
62 is even
64 is even
66 is even
68 is even
70 is even
72 is even
74 is even
76 is even
78 is even
80 is even
82 is even
84 is even
86 is even
88 is even
90 is even
92 is even
94 is even
96 is even
98 is even
100 is even

In [1]:
#WAPP to reverse a string using while loop
s=input("enter astring")
i=len(s)
i=i-1
while(i>=0):
    print(s[i],end="")
    i=i-1

enter astring qwerty

ytrewq

In [3]:
#WAPP to find factorial of a number
a=int(input("enter a number"))
if(a==0):
    print("Factorial of the given number is 1")
elif(a>0):
    s=1
    i=a
    while(i>=1):
        s=s*i
        i=i-1
    print("Factorial of the given number is",s)
else:
    print("cannot find factorial of the negative number")

enter a number 5

Factorial of the given number is 120

In [4]:
#WAPP to find factorial of a number
a=int(input("enter a number"))
if(a==0):
    print("Factorial of the given number is 1")
elif(a>0):
    s=1
    i=a
    while(i>=1):
        s=s*i
        i=i-1
    print("Factorial of the given number is",s)
else:
    print("cannot find factorial of the negative number")

enter a number 0

Factorial of the given number is 1

In [5]:
#WAPP to find factorial of a number
a=int(input("enter a number"))
if(a==0):
    print("Factorial of the given number is 1")
elif(a>0):
    s=1
    i=a
    while(i>=1):
        s=s*i
        i=i-1
    print("Factorial of the given number is",s)
else:
    print("cannot find factorial of the negative number")

enter a number -9

cannot find factorial of the negative number

In [10]:
#WAPP to check whether a number is pallimdrome or not
s=input("enter a number")
i=len(s)
i=i-1
r=0
while(i>=0):
    n=int(s[i])
    r=(r*10)+n
    i=i-1
s=int(s)
if(r==s):
    print("pallindrome number")
else:
    print("not a pallindrome number")

enter a number 121

pallindrome number

In [9]:
#WAPP to check whether a number is pallimdrome or not
#if we are dividing two numbers using / operator, we will get the answer in decimals. 
#But if we want the answers in approx integer form, we will use // operator (floor value of the float)
s=input("enter a number")
i=len(s)
i=i-1
r=0
while(i>=0):
    n=int(s[i])
    r=(r*10)+n
    i=i-1
s=int(s)
if(r==s):
    print("pallindrome number")
else:
    print("not a pallindrome number")

enter a number 123

not a pallindrome number

In [45]:
#WAPP to print Fibonacci Series
n=int(input("enter the limit"))
print("Fibonacci Series of",n,"is :",end=' ')
a=0
b=1
print(a,end=' ')
print(b,end=' ')
q=a+b
i=0
while(i<n-2):
    print(q,end=' ')
    a=b;
    b=q;
    q=a+b
    i=i+1

enter the limit 10

Fibonacci Series of 10 is : 0 1 1 2 3 5 8 13 21 34

In [48]:
#we use while loop instead of for loop in those conditions where we don't know the number of iterations we need to perform
#syntax of for => for variable in sequence_type:
#                        statements
#if we use dictionary in for loop, it will give or print in terms of keys
d={1:10,2:20,3:30}
for i in d:
    print(i) #keys de raha hai
    print(d[i]) #keys ki values de raha hai

1
10
2
20
3
30

In [52]:
#for used in terms of lists
l=[11,21,31,41,51]
for i in l:
    print(i)

11
21
31
41
51

In [3]:
#WAPP to print if a number is a prime ao not
n=int(input("enter a number"))
c=0
for i in range (1,n+1):
    if(n%i==0):
        c=c+1
if(c==2):
    print("prime")
else:
    print("not prime")

enter a number 13

prime

In [10]:
#pyhton me for loop ke saath else likh sakte hain
for i in range(6):
    print(i)
else:
    print("ho gaya print")

0
1
2
3
4
5
ho gaya print

In [24]:
#print right angled triangle
r=int(input("enter number of rows"))
c=int(input("enter number of columns"))
for i in range(r+1):
    for j in range(i+1):
        print("*",end=' ')
    print()

enter number of rows 5
enter number of columns 6

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [34]:
r=int(input("enter number of rows"))
c=int(input("enter number of columns"))
a=97
for i in range(r+1):
    for j in range(i+1):
        print(chr(a),end=' ')
        a=a+1
    print()

enter number of rows 5
enter number of columns 5

a
b c
d e f
g h i j
k l m n o
p q r s t u

In [37]:
r=int(input("enter number of rows"))
c=int(input("enter number of columns"))
a=97
for i in range(r+1):
    for j in range(i+1):
        if((i+j)%2==0):
            print("1",end=' ')
        else:
            print("0",end=' ')
    print()

enter number of rows 5
enter number of columns 5

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1
0 1 0 1 0 1

In [38]:
r=int(input("enter number of rows"))
c=int(input("enter number of columns"))
a=97
for i in range(r+1):
    for j in range(i+1):
        if((i+j)%2==0):
            print("0",end=' ')
        else:
            print("1",end=' ')
    print()

enter number of rows 5
enter number of columns 5

0
1 0
0 1 0
1 0 1 0
0 1 0 1 0
1 0 1 0 1 0

In [48]:
n=int(input("enter number"))
for i in range(0,n):
    for j in range(0,n-i-1):
        print(" ",end=' ')
    for k in range(0,i+1):
        print("*",end=' ')
    print()

enter number 5

        *
      * *
    * * *
  * * * *
* * * * *

In [49]:
n=int(input("enter number"))
for i in range(0,n):
    for j in range(0,n-i-1):
        print(" ",end=' ')
    for k in range(0,2*i+1):
        print("*",end=' ')
    print()

enter number 5

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [2]:
#to print diamond
n=int(input("enter number"))
for i in range(0,n):
    for j in range(0,n-i-1):
        print(" ",end=' ')
    for k in range(0,2*i+1):
        print("*",end=' ')
    print()
for i in range(n-1,0):
    for j in range(n-i-2,0):
        print(" ",end=' ')
        j=j-1
    for k in range(2*i+1,0):
        print("*",end=' ')
        k=k-1
    print()

enter number 3

    *
  * * *
* * * * *

In [ ]:
#to print pascal's triangle

In [1]:
for i in range(9999999999999):
    a=input("enter the name")
    if(a=="thank you"):
        break

enter the name hehe
enter the name hoho
enter the name thank you

In [ ]:
#Functions in Python
#syntax =>   def function_name(value):
#                          statements
#            function_name(value)
#def is a keyword that defines the function
#*invoking=actual arguments
#

In [20]:
def demo():
    print("welcome")
demo()

welcome

In [19]:
def demo():
    print("welcome")
print(demo())

welcome
None

In [1]:
def demo():
    print("welcome")
    return(99)
print(demo())

welcome
99

In [5]:
def demo():
    print("welcome")
    return("haleluiyah")
print(demo())

welcome
haleluiyah

In [52]:
def Fib(n):
    if n<=0:
        print("Incorrect input")   
    elif n==0:
        print(0)
    elif n==1:
        print(1)
    else:
         print(Fib(n)+Fib(n+1))
a=int(input("enter a number"))
print(Fib(a))

enter a number 5

RecursionError: maximum recursion depth exceeded

In [13]:
def operation(a,b):
    print("the values of a and b are :",a,"and",b,end='')
    return a*b
x=int(input())
y=int(input())
print("values of x and y are :",x,"and",y)
print(" and it's product is",operation(x,y))

 4
 4

values of x and y are : 4 and 4
the values of a and b are : 4 and 4 and it's product is 16

In [15]:
def sample(a,b):
    a1=a*b
    a2=a+b
    return a1,a2
x=int(input())
y=int(input())
print(sample(x,y))

 12
 23

(276, 35)

In [16]:
def sample(a,b):
    a1=a*b
    a2=a+b
    return a1,a2
x=int(input())
y=int(input())
x,y=sample(x,y)
print(x)
print(y)

 45
 56

2520
101

In [2]:
#calculator
def add(a):
    global summ
    if(a!='='):
        a=int(a)
        summ=summ+a
    else:
        print("The sum of given Numbers is :",end=' ')
        print(summ)
def sub(s):
    global diff
    if(s!='='):
        s=int(s)
        diff=diff-s
    else:
        print("The substraction of given Numbers is :",end=' ')
        print(diff)
def mul(p):
    global prod
    if(p!='='):
        p=int(p)
        prod=prod*p
    else:
        print("The Multiplication of given Numbers is :",end=' ')
        print(prod)
def div(d):
    global divv
    if(d!='='):
        d=int(d)
        divv=divv/d
    else:
        print("The Division of given Numbers is :",end=' ')
        print(divv)
print('''Enter the number to perform operation
1 for Addition
2 for Substraction
3 for Multiplication
4 for Division''')
n=int(input())
if(n==1):
      summ=0
      print("Enter the Numbers")
      q=input()
      add(q)
      while(q!="="):
          q=input()
          add(q)
if(n==2):
      diff=0
      print("Enter the Numbers")
      q=input()
      sub(q)
      while(q!="="):
          q=input()
          sub(q)
if(n==3):
      prod=1 
      print("Enter the Numbers")
      q=input()
      mul(q)
      while(q!="="):
          q=input()
          mul(q)
if(n==4):
      divv=1
      print("Enter the Numbers")
      q=input()
      div(q)
      while(q!="="):
          q=input()
          div(q)

Enter the number to perform operation
1 for Addition
2 for Substraction
3 for Multiplication
4 for Division

 1

Enter the Numbers

 12
 23
 34
 45
 56
 67
 78
 89
 90
 =

The sum of given Numbers is : 494

In [3]:
#calculator
def add(a):
    global summ
    if(a!='='):
        a=int(a)
        summ=summ+a
    else:
        print("The sum of given Numbers is :",end=' ')
        print(summ)
def sub(s):
    global diff
    if(s!='='):
        s=int(s)
        diff=diff-s
    else:
        print("The substraction of given Numbers is :",end=' ')
        print(diff)
def mul(p):
    global prod
    if(p!='='):
        p=int(p)
        prod=prod*p
    else:
        print("The Multiplication of given Numbers is :",end=' ')
        print(prod)
def div(d):
    global divv
    if(d!='='):
        d=int(d)
        divv=divv/d
    else:
        print("The Division of given Numbers is :",end=' ')
        print(divv)
print('''Enter the number to perform operation
1 for Addition
2 for Substraction
3 for Multiplication
4 for Division''')
n=int(input())
if(n==1):
      summ=0
      print("Enter the Numbers")
      q=input()
      add(q)
      while(q!="="):
          q=input()
          add(q)
if(n==2):
      diff=0
      print("Enter the Numbers")
      q=input()
      sub(q)
      while(q!="="):
          q=input()
          sub(q)
if(n==3):
      prod=1 
      print("Enter the Numbers")
      q=input()
      mul(q)
      while(q!="="):
          q=input()
          mul(q)
if(n==4):
      divv=1
      print("Enter the Numbers")
      q=input()
      div(q)
      while(q!="="):
          q=input()
          div(q)

Enter the number to perform operation
1 for Addition
2 for Substraction
3 for Multiplication
4 for Division

 2

Enter the Numbers

 12
 23
 34
 45
 56
 67
 78
 89
 90
 =

The substraction of given Numbers is : -494

In [4]:
#calculator
def add(a):
    global summ
    if(a!='='):
        a=int(a)
        summ=summ+a
    else:
        print("The sum of given Numbers is :",end=' ')
        print(summ)
def sub(s):
    global diff
    if(s!='='):
        s=int(s)
        diff=diff-s
    else:
        print("The substraction of given Numbers is :",end=' ')
        print(diff)
def mul(p):
    global prod
    if(p!='='):
        p=int(p)
        prod=prod*p
    else:
        print("The Multiplication of given Numbers is :",end=' ')
        print(prod)
def div(d):
    global divv
    if(d!='='):
        d=int(d)
        divv=divv/d
    else:
        print("The Division of given Numbers is :",end=' ')
        print(divv)
print('''Enter the number to perform operation
1 for Addition
2 for Substraction
3 for Multiplication
4 for Division''')
n=int(input())
if(n==1):
      summ=0
      print("Enter the Numbers")
      q=input()
      add(q)
      while(q!="="):
          q=input()
          add(q)
if(n==2):
      diff=0
      print("Enter the Numbers")
      q=input()
      sub(q)
      while(q!="="):
          q=input()
          sub(q)
if(n==3):
      prod=1 
      print("Enter the Numbers")
      q=input()
      mul(q)
      while(q!="="):
          q=input()
          mul(q)
if(n==4):
      divv=1
      print("Enter the Numbers")
      q=input()
      div(q)
      while(q!="="):
          q=input()
          div(q)

Enter the number to perform operation
1 for Addition
2 for Substraction
3 for Multiplication
4 for Division

 3

Enter the Numbers

 12
 23
 34
 45
 56
 67
 78
 89
 90
 =

The Multiplication of given Numbers is : 989898033196800

In [6]:
#calculator
def add(a):
    global summ
    if(a!='='):
        a=int(a)
        summ=summ+a
    else:
        print("The sum of given Numbers is :",end=' ')
        print(summ)
def sub(s):
    global diff
    if(s!='='):
        s=int(s)
        diff=diff-s
    else:
        print("The substraction of given Numbers is :",end=' ')
        print(diff)
def mul(p):
    global prod
    if(p!='='):
        p=int(p)
        prod=prod*p
    else:
        print("The Multiplication of given Numbers is :",end=' ')
        print(prod)
def div(d):
    global divv
    if(d!='='):
        d=int(d)
        divv=divv/d
    else:
        print("The Division of given Numbers is :",end=' ')
        print(divv)
print('''Enter the number to perform operation
1 for Addition
2 for Substraction
3 for Multiplication
4 for Division''')
n=int(input())
if(n==1):
      summ=0
      print("Enter the Numbers")
      q=input()
      add(q)
      while(q!="="):
          q=input()
          add(q)
if(n==2):
      diff=0
      print("Enter the Numbers")
      q=input()
      sub(q)
      while(q!="="):
          q=input()
          sub(q)
if(n==3):
      prod=1 
      print("Enter the Numbers")
      q=input()
      mul(q)
      while(q!="="):
          q=input()
          mul(q)
if(n==4):
      divv=1
      print("Enter the Numbers")
      q=input()
      div(q)
      while(q!="="):
          q=input()
          div(q)

Enter the number to perform operation
1 for Addition
2 for Substraction
3 for Multiplication
4 for Division

 4

Enter the Numbers

 1
 2
 3
 4
 5
 6
 7
 8
 9
 =

The Division of given Numbers is : 2.7557319223985893e-06

In [3]:
def check(q):
        if(q=="0"):
            print("Neither Odd nor Even")
        elif(q=="End" or q=="end"):
            print("End of Program")
        else:
            q=int(q)
            if(q%2==0):
                print(q,"is an even number")
            else:
                print(q,"is an odd number")
print("Enter the Number")
n=input()
check(n)
while(n!="end" or n!="End"):
    n=input()
    check(n)

Enter the Number

 end

End of Program

 diof

ValueError: invalid literal for int() with base 10: 'diof'

In [1]:
#keywords arguments and positional arguments when used together, 
#-positional should be kept first,then the keywords arguments

In [ ]:
#function ke andar declared kiya gaya variable is local variable and it has local scope, 
#-that is it's scope is within the block in which it is declared
#and the otheris global scope

In [4]:
a=10
def f1():
    print(a)
    b=22
    print(b)
def f2():
    print(a)
    print(b)
print(f1())
print(f2())
print(a)
print(b)

10
22
None
10

NameError: name 'b' is not defined

In [5]:
a=10
def f1():
    print(a)
    b=22
    print(b)
def f2():
    print(a)
print(a)
print(b)

10

NameError: name 'b' is not defined

In [6]:
a=10
def f1():
    print(a)
    b=22
    print(b)
def f2():
    print(a)
print(f1())
print(f2())

10
22
None
10
None

In [ ]:
#In Python, id() function is a built-in function that returns the unique identifier of an object. 
#The identifier is an integer, which represents the memory address of the object. 
#The id() function is commonly used to check if two variables or objects refer to the same memory location.

In [9]:
a=15
print(id(a))
def f1():
    a=20
    print(id(a))
    print(a)
print(f1())
print(a)

140721955997032
140721955997192
20
None
15

In [17]:
#sirf function ki returned value print karani hai toh sirf f()
a=15
print(id(a))
def f1():
    global a
    print(a)
f1()
print(a)

140721955997032
15
15

In [ ]:
#local variable has priority over global variable, when their names are same.

In [20]:
a=15
def f1():
    a=20
    print(a)
    print(globals()['a'])
f1()

20
15

In [27]:
q=30
def f1():
    global q
    q=20
    print(q)
def f2():
    x=q+10
    print(x)
f1()
f2()

20
30

In [28]:
global q
q=30
def f1():
    global q
    q=20
    print(q)
def f2():
    x=q+10
    print(x)
f1()
f2()
#q!=30 as local variables have priority over global variable

20
30

In [29]:
global q
q=30
def f1():
    global q
    q=20
    print(q)
def f2():
    x=(globals()['q'])+10
    print(x)
f1()
f2()
#abhi bhi q 30 nahi hoga coz f1() function me global is still there

20
30

In [30]:
global q
q=30
def f1():
    q=20
    print(q)
def f2():
    x=(globals()['q'])+10
    print(x)
f1()
f2()

20
40

In [31]:
def f1():
    p=20
    def f2():
        p=10
        print(p)
    print(p)
    f2()
f1()

20
10

In [31]:
p=35 #global variable
def f1():
    p=20 #local variable
    def f2():
        p=10
        print(p)
    print(p)
    f2()
f1()

20
10

In [ ]:
s_g=35
def demo_outer

In [32]:
#factorial of a number, ma'am's method
def fact(num):
    if(num==0):
        return 1
    else:
        return num*fact(num-1)
num=int(input("Enter a positive integer"))
print(fact(num))

Enter a positive integer 5

120

In [ ]:
#gcd of two numbers using recursion

In [60]:
a=int(input("enter a number 1"))
b=int(input("enter a number 2"))
for i in range(1,b):
    if(a%i==0 and b%i==0):
        break
print(i)

enter a number 1 12
enter a number 2 6

2

In [18]:
#WAPP to find the sum of three numbers using lambda functions
x=lambda p,q,r:p+q+r
print(x(20,30,38))
print(x(12,23,34))

88
69

In [19]:
def f1():
    print("Welcome to Wakanda")
x=f1()
print(x)
print(type(x))

Welcome to Wakanda
None
<class 'NoneType'>

In [20]:
def f1():
    return "Welcome to Wakanda"
x=f1()
print(x)
print(type(x))

Welcome to Wakanda
<class 'str'>

In [21]:
#WAPP to filter numbers from the list which is divisible by 5 using fter function
def div(n):
    if(n%5==0):
        return n
l=[2,3,4,5,6,7,8,9]
print(filter(div,l))
print(type(l))

<filter object at 0x0000019D0AB6CAF0>
<class 'list'>

In [22]:
#WAPP to list and return the product of 2 lists using math function

In [ ]:
#WAPP to capitalize the first letter of each woed given in a string

s=input()
s=s.capitalize()
print(s)

In [27]:
l=[12,3,2,5,47,79,8]
smallest=reduce(lambda x,y:x if x<y else

_IncompleteInputError: incomplete input (3327141761.py, line 2)

In [32]:
#WAPP to find the sum of first 20 natural numbers using 
a=1
s=0
while(a<=20):
    s=s+a
    a=a+1
print(s)
print(type(s))

210
<class 'int'>

In [7]:
def outer_func(txt):
    def innrer_func():
        print(txt)
        inner_func()
outer_func("Welcome to NIET")

In [8]:
def outer_func(txt):
    def innrer_func():
        print(txt)
    #inner_func()
    return inner_func
x=outer_func("Welcome to NIET")
#inner  _func()
x()

NameError: name 'inner_func' is not defined

In [10]:
def uppercase_decorator(function):
    def wrapper():
        func=function()
        a=func.upper()
        return a
    return wrapper
@uppercase_decorator
def say_hi():
    return "hello there"
print(say_hi())
def split_string(function):
    def wrapper():
        func=function()
        a=func.split()
        return a
    return wrapper
@split_string
@uppercase_decorator
def say_hi():
    return "hello"

_IncompleteInputError: incomplete input (1767166357.py, line 9)

In [12]:
def counter():
    i=1
    while(i<=5):
        yoeld 1
        i=i+

_IncompleteInputError: incomplete input (3265744158.py, line 1)